<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginemail_pages">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CROG Capsule"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginEmail_Pages">

        <activity android:name=".Login"></activity>

        <activity android:name=".Signup"></activity>

        <activity android:name=".Activity.HomeActivity2"></activity>

        <activity android:name=".FirstPage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.HomeActivity"
            android:label="SCAN Barcode"
            android:theme="@style/Theme.LoginEmail_Pages">
            <meta-data
                android:name="com.google.mlkit.vision.DEPENDENCIES"
                android:value="barcode" />
        </activity>
    </application>

</manifest>